{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h4>{{ title }}</h4>
<form method="POST" novalidate>
  {{ form.hidden_tag() }}
  <div class="row g-3">
    <div class="col-md-3">{{ form.code.label }}{{ form.code(class='form-control') }}</div>
    <div class="col-md-3">{{ form.barcode.label }}{{ form.barcode(class='form-control') }}</div>
    <div class="col-md-6">{{ form.name_ar.label }}{{ form.name_ar(class='form-control') }}</div>
    <div class="col-md-6">{{ form.name_en.label }}{{ form.name_en(class='form-control') }}</div>
    <div class="col-md-4">{{ form.category_id.label }}{{ form.category_id(class='form-select') }}</div>
    <div class="col-md-2">{{ form.unit.label }}{{ form.unit(class='form-select') }}</div>
    <div class="col-md-3">{{ form.sale_price.label }}{{ form.sale_price(class='form-control') }}</div>
    <div class="col-md-3">{{ form.cost_price.label }}{{ form.cost_price(class='form-control') }}</div>
    <div class="col-md-3">{{ form.reorder_level.label }}{{ form.reorder_level(class='form-control') }}</div>
    <div class="col-md-3">{{ form.vat_rate.label }}{{ form.vat_rate(class='form-control') }}</div>
  </div>
  <div class="mt-3">
    <button class="btn btn-primary">حفظ</button>
    <a href="{{ url_for('inventory.products') }}" class="btn btn-secondary">إلغاء</a>
  </div>
</form>
{% endblock %}
